%h1 Login

= form_for(:session, url: login_path) do |f|
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit 'Login'

= link_to 'Back', users_path
