= form_with(model: @article_form, url: articles_path) do |f|
  - if @article_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article_form.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article_form.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :category1
    = f.select :category1, Category.all.map { |t| [t.name, t.id]  }
  .field
    = f.label :category2
    = f.select :category2, Category.all.map { |t| [t.name, t.id]  }
  .actions
    = f.submit 'Save'
