- if @article_form.errors.any?
  %ul
    - @article_form.errors.full_messages.each do |message|
      %li= message

= form_with(model: @article_form, url: polymorphic_path(@article_form.article), local: true) do |f|

  - unless @article_form.article.persisted?
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :body
      = f.text_area :body
    .field
      = f.label :category1
      = f.select :category1, Category.all.map { |t| [t.name, t.id]  }
    .field
      = f.label :category2
      = f.select :category2, Category.all.map { |t| [t.name, t.id]  }
  - else
    .field
      = f.label :title
      = f.text_field :title, value: "#{@article_form.show_tags}#{@article_form.title}"
    .field
      = f.label :body
      = f.text_area :body
    .field
      = f.label :category1
      = f.select :category1, Category.all.map { |t| [t.name, t.id]  }, selected: @article_form.category1.id
    .field
      = f.label :category2
      = f.select :category2, Category.all.map { |t| [t.name, t.id]  }, selected: @article_form.category2.id

  .actions
    = f.submit 'Save'
